/* screen sizes definition */
/* screen sizes definition */
/* custom variables */
/* custom styles */
.smallScreensMenu {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  font-size: 100% !important;
}
.smallScreensMenu ul {
  margin: 0;
  padding: 0;
}
.smallScreensMenu ul li {
  border-bottom: 1px solid #CCE2ED;
}
.smallScreensMenu ul li a {
  color: #003366 !important;
  background: none !important;
  padding: 7px 10px !important;
}
.smallScreensMenu ul li a.active {
  font-weight: bold;
}
.smallScreensMenu ul li a:hover,
.smallScreensMenu ul li a:focus {
  background: #0065A2 !important;
  color: #FFFFFF !important;
}
.readMoreLinkStyle {
  font-weight: bold;
  background: url(../images/btn-read-more.png) #687c86 no-repeat 175px;
  margin: 10px 0 0;
  padding: 0 35px 0;
  float: right;
  width: 200px;
}
.readMoreLinkStyle a {
  margin-top: 0;
  padding: 5px 0;
  color: #FFF;
}
.titleStyle {
  color: #878c92;
  font-size: 190%;
  border-radius: 0;
  background: none;
  padding: 0;
  border-bottom: none;
  margin: 10px 0 5px;
  line-height: 1;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
/* BODY */
body.reps {
  font-family: Verdana, Arial, Helvetica, 'DejaVu Sans', sans-serif;
  color: #000000;
  line-height: 1.5;
  background: #FFFFFF !important;
  background-color: #FFFFFF !important;
  position: relative;
  filter: none;
}
body.reps #mainContainer {
  max-width: 984px;
  min-width: 200px;
  margin: 0 auto 10px;
  border: 1px solid #666666;
  border-top: none;
  overflow: hidden;
  background: #FFF;
  /* SIDEBAR RIGHT */

}
body.reps #mainContainer .container {
  max-width: 984px;
  margin: 0;
  width: auto;
}
body.reps #mainContainer .panel-heading {
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
body.reps #mainContainer #block-menu-menu-service-tools li a {
  box-shadow: 0;
  border-radius: 0;
  border: none;
  border-left: 1px solid;
}
body.reps #mainContainer #block-menu-menu-service-tools li.first a {
  border-left: none;
}
body.reps #mainContainer .region-featured-wrapper {
  /* MAIN MENU */

}
body.reps #mainContainer .region-featured-wrapper .home-button,
body.reps #mainContainer .region-featured-wrapper button#menu-button {
  float: left;
  margin: 5px 0 5px 15px;
  border-radius: 0;
  padding: 5px 10px;
  color: #FFFFFF;
  background: #074A8B;
  border: 1px solid #69C;
  font-size: 115%;
}
body.reps #mainContainer .region-featured-wrapper .home-button a,
body.reps #mainContainer .region-featured-wrapper button#menu-button a {
  color: #FFFFFF;
}
body.reps #mainContainer .region-featured-wrapper .home-button:hover,
body.reps #mainContainer .region-featured-wrapper .home-button:focus,
body.reps #mainContainer .region-featured-wrapper button#menu-button:hover,
body.reps #mainContainer .region-featured-wrapper button#menu-button:focus,
body.reps #mainContainer .region-featured-wrapper button#menu-button.menu-open {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  text-decoration: none;
}
body.reps #mainContainer .region-featured-wrapper .home-button:hover a,
body.reps #mainContainer .region-featured-wrapper .home-button:focus a,
body.reps #mainContainer .region-featured-wrapper button#menu-button:hover a,
body.reps #mainContainer .region-featured-wrapper button#menu-button:focus a,
body.reps #mainContainer .region-featured-wrapper button#menu-button.menu-open a {
  color: #000000;
  text-decoration: none;
}
body.reps #mainContainer .region-featured-wrapper #main-menu {
  margin: 12px 9px 0;
  box-shadow: 2px 2px 2px #d4d4d4;
  border-top: 1px #f8f8f8 solid;
  background: #f4f4f4 url(../images/bkg-menu.jpg) repeat-x left top;
  font-size: 105%;
  min-height: 30px;
  position: relative;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar {
  max-width: 982px;
  border: none;
  min-height: 30px;
  position: relative;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container {
  padding: 0;
  margin: 0;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div {
  padding: 0;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div p.menu-browse {
  display: none;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li {
  padding: 0;
  margin: 0 8px;
  position: static;
  width: auto;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li a {
  color: #959595;
  padding: 10px;
  border-radius: 0;
  text-transform: none;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li a .caret {
  display: none;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li a.active,
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li a:hover,
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li a:focus {
  color: #FFFFFF;
  background: #b60522;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail a {
  background: #b60522;
  color: #FFF;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul {
  display: block;
  background: #b60522;
  border-radius: 0;
  width: 100%;
  position: absolute;
  padding: 0;
  margin-top: -1px;
  box-shadow: 2px 2px 2px #d4d4d4;
  font-size: 95%;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul li {
  float: left;
  margin: 2px 0 0;
  padding: 5px 0;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul li a {
  border: none;
  border-left: 1px solid #FFFFFF;
  background: : none;
  color: #e7e7e7;
  margin: 0;
  padding: 0 10px 0;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul li a:hover,
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul li a:focus {
  color: #FFFFFF;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul li.first a {
  border-left: 0;
}
body.reps #mainContainer .region-featured-wrapper #main-menu .navbar .container div ul li.active-trail ul li.active-trail {
  border-bottom: 3px solid #FFF;
}
body.reps #mainContainer .region-featured-wrapper #main-menu * {
  background: none;
}
body.reps #mainContainer .region-featured-wrapper .menu-breadcrumb .list-group-item {
  display: inline;
  background: none;
  padding: 0;
}
body.reps #mainContainer #layout-body {
  margin: 10px 9px 0;
  padding: 0;
}
body.reps #mainContainer #layout-body .block-views {
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  /* SLIDESHOW */

}
body.reps #mainContainer #layout-body .block-views .panel-heading {
  color: #878c92;
  font-size: 190%;
  border-radius: 0;
  background: none;
  padding: 0;
  border-bottom: none;
  margin: 10px 0 5px;
  line-height: 1;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
body.reps #mainContainer #layout-body .block-views .panel-body {
  padding: 0;
}
body.reps #mainContainer #layout-body .block-views .panel-body .more-link {
  font-weight: bold;
  background: url(../images/btn-read-more.png) #687c86 no-repeat 175px;
  margin: 10px 0 0;
  padding: 0 35px 0;
  float: right;
  width: 200px;
}
body.reps #mainContainer #layout-body .block-views .panel-body .more-link a {
  margin-top: 0;
  padding: 5px 0;
  color: #FFF;
}
body.reps #mainContainer #layout-body .block-views .flexslider {
  margin: 0;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides {
  padding: 0;
  margin: 0;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li {
  height: 265px;
  overflow: hidden;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgLarge img {
  position: absolute;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgLarge .content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  width: 100%;
  color: #FFF;
  padding: 5px 10px;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgLarge .content .sliderDate {
  font-size: 80%;
  margin-bottom: 5px;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgLarge .content .sliderTitle {
  font-size: 110%;
  font-weight: bold;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgLarge .content a {
  color: #FFF;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgSmall img {
  position: absolute;
  right: 0;
  max-width: 50%;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgSmall .sliderContent {
  max-width: 50%;
  background: #f4f4f4;
  height: 100%;
  position: absolute;
  padding: 20px 30px;
  font-size: 85%;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgSmall .sliderContent .sliderTitle {
  font-size: 120%;
  font-weight: bold;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.slides li .views-field .sliderImgSmall .sliderContent .sliderTitle a {
  color: #347c98;
}
body.reps #mainContainer #layout-body .block-views .flexslider ol.flex-control-nav {
  background: #4C4C4C;
  margin: 0;
  padding: 0 0 5px;
  text-align: right;
  position: static;
}
body.reps #mainContainer #layout-body .block-views .flexslider ol.flex-control-nav li {
  margin: 0;
  padding: 0;
}
body.reps #mainContainer #layout-body .block-views .flexslider ol.flex-control-nav li a {
  border-radius: 0;
  text-indent: 0;
  padding: 3px 5px;
  margin: 0 3px;
  min-width: 23px;
  display: inline-block;
  height: auto;
  width: auto;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  box-shadow: none;
  color: #ccc;
  text-align: center;
  font-size: 85%;
}
body.reps #mainContainer #layout-body .block-views .flexslider ol.flex-control-nav li a.flex-active {
  background: #FFF;
  color: #000;
}
body.reps #mainContainer #layout-body .block-views .flexslider ul.flex-direction-nav {
  position: relative;
  margin: 0;
  padding: 0;
  position: static;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row {
  border-bottom: 1px #dddddd solid;
  padding: 10px 0;
  min-height: 125px;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field {
  font-size: 90%;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field .views-label,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field .views-label {
  font-weight: bold;
  float: left;
  margin-right: 5px;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field-field-reps-core-image,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field-field-reps-core-image,
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field-field-reps-core-image-et,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field-field-reps-core-image-et {
  float: left;
  margin: 3px 10px 5px 0;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .field-content h3,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .field-content h3,
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field-title h3,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field-title h3 {
  margin: 3px 0;
  font-weight: bold;
  font-size: 100%;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .field-content h3 a,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .field-content h3 a,
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field-title h3 a,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field-title h3 a {
  color: #347c98;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field-field-reps-core-date div,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field-field-reps-core-date div {
  border-radius: 0;
  background: none;
  color: #666666;
  font-weight: normal;
  padding: 0;
  line-height: 1;
  font-size: 90%;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row .views-field-field-reps-core-abstract,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row .views-field-field-reps-core-abstract {
  color: #333;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row.views-row-first,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row.views-row-first {
  padding-top: 0;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .views-row.views-row-first .views-field-title h3,
body.reps #mainContainer #layout-body #block-views-reps-events-block .views-row.views-row-first .views-field-title h3 {
  font-size: 130%;
  line-height: 1.5;
}
body.reps #mainContainer #layout-body #block-views-reps-news-block .panel-heading {
  border-bottom: 1px dashed #878c92;
}
body.reps #mainContainer #layout-body #block-views-reps-videos-block .panel-body {
  margin: 15px -15px 0;
}
body.reps #mainContainer #layout-body #block-views-reps-videos-block .panel-body .views-row {
  float: left;
  width: 33.333333333333336%;
  padding: 0 15px;
}
body.reps #mainContainer #layout-body #block-views-reps-videos-block .panel-body .views-row img {
  width: 100%;
  height: auto;
}
body.reps #mainContainer #layout-body #block-views-reps-videos-block .panel-body .views-row .views-field-title-field-et {
  font-weight: bold;
  margin-top: 10px;
}
body.reps #mainContainer #layout-body #block-views-reps-videos-block .panel-body .views-row-last {
  margin-right: 0;
  width: 33.333333333333336%;
}
body.reps #mainContainer #layout-body #block-views-reps-videos-block .more-link {
  margin-right: 15px;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content {
  margin: 0 -15px;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content .views-row {
  overflow: hidden;
  width: 33.333333333333336%;
  float: left;
  padding: 0 15px;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content .views-row .views-field {
  text-align: center;
  border: 1px solid #cfcfcf;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content .views-row .views-field-field-reps-core-image {
  padding: 10px 10px 0;
  border-bottom: none;
  max-height: 400px;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content .views-row .views-field-field-reps-core-image img {
  width: 100%;
  height: auto;
  max-width: 150px;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content .views-row .views-field-field-reps-core-external-url-1 {
  border-top: none;
  padding: 0 5px;
}
body.reps #mainContainer #layout-body #block-views-reps-publications-block .view-content .views-row .views-field-field-reps-core-external-url-1 h3 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}
body.reps #mainContainer #layout-body #block-views-reps-bean-blocks-block-1 .panel-body {
  border: 1px #cfcfcf solid;
  margin-top: 10px;
  display: block;
}
body.reps #mainContainer #layout-body #block-views-reps-bean-blocks-block-1 .panel-body .views-row {
  width: 50%;
  display: block;
  position: relative;
  float: left;
  padding: 15px 0 15px 10px;
}
body.reps #mainContainer #layout-body #block-views-reps-bean-blocks-block-1 .panel-body .views-row .views-field-field-reps-core-image-et {
  float: left;
  padding: 5px 10px 5px 5px;
}
body.reps #mainContainer #layout-body #block-views-reps-bean-blocks-block-1 .panel-body .views-row .views-field-title-field-et {
  font-size: 125%;
  margin-top: 10px;
  padding: 5px 0;
}
body.reps #mainContainer #layout-body #block-views-reps-bean-blocks-block-1 .panel-body .views-row .views-field-title-field-et a {
  color: #4385a0;
}
body.reps #mainContainer #layout-body #block-views-reps-bean-blocks-block-1 .panel-body .views-row .views-field-field-reps-core-abstract-et {
  margin-left: 100px;
  font-size: 90%;
  padding: 5px 0;
  color: #4e4e4e;
}
body.reps #mainContainer #layout-body h1 {
  color: #878c92;
  font-size: 190%;
  border-radius: 0;
  background: none;
  padding: 0;
  border-bottom: none;
  margin: 10px 0 5px;
  line-height: 1;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  color: #666 !important;
  width: 100%;
  border-bottom: 1px dashed #c5c3c3;
  margin-top: 20px;
}
body.reps #mainContainer #layout-body #block-system-main {
  border: none;
  box-shadow: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body {
  padding: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform .reps_title_contact {
  color: #b60522;
  font-size: 150%;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  margin-top: 10px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform input[type=text],
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform input[type=email],
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform textarea {
  border-radius: 0;
  border: 1px inset #DDD;
  height: auto;
  width: 75%;
  padding: 1px 0;
  margin: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform textarea {
  width: 100% !important;
  height: 200px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform input[type=submit] {
  background: ButtonFace;
  color: ButtonText;
  border: 2px outset ButtonFace;
  padding: 2px 10px;
  font-size: 105%;
  border-radius: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform input[type=submit]:hover {
  border-style: inset;
  -webkit-appearance: push-button;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform input[type=submit]:active:hover {
  padding: 3px 10px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform fieldset.captcha {
  background: #EEE;
  padding: 5px;
  border: 1px solid #DDD;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform fieldset.captcha legend {
  position: absolute;
  text-transform: lowercase;
  font-size: 150%;
  border: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform fieldset.captcha legend:first-letter {
  text-transform: uppercase;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform fieldset.captcha div.fieldset-description {
  margin-top: 30px;
  display: block;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-webform fieldset.captcha img {
  border: 1px solid #DDD;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters {
  background: #b60522;
  padding: 6px;
  font-size: 80%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets {
  margin-bottom: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-widget-filter-field_reps_news_category_target_id {
  width: 40%;
  line-height: 1;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-widget-filter-field_reps_news_category_target_id select {
  display: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-widget-filter-keys {
  width: 40%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-submit-button {
  width: 20%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget {
  padding: 0;
  vertical-align: baseline;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .chosen-container,
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget select,
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget input {
  padding: 2px;
  font-size: 80%;
  height: auto;
  border-radius: 0;
  margin-top: 0;
  display: inline;
  vertical-align: baseline;
  color: #000;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select {
  font-size: 130%;
  width: 100%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container {
  padding: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container ul {
  line-height: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container ul .search-choice {
  margin: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container ul .search-choice span {
  font-size: 95%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container ul .search-field {
  float: left;
  margin-top: 1px;
  overflow: hidden;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container ul input {
  margin: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget .form-type-select .chosen-container .chosen-drop {
  font-size: 100%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget input[type=text] {
  margin: 0 3px 0 50px;
  padding-top: 2px;
  padding-bottom: 3px;
  width: 75%;
  font-size: 105%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget input[type=submit] {
  background: ButtonFace;
  color: ButtonText;
  border: 2px outset ButtonFace;
  padding: 2px 10px;
  font-size: 105%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget input[type=submit]:hover {
  border-style: inset;
  -webkit-appearance: push-button;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget input[type=submit]:active:hover {
  padding: 3px 10px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-events.view-display-id-page h3 a {
  font-weight: normal;
  font-size: 120%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row {
  font-size: 90%;
  color: #333333;
  padding: 10px auto;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-image,
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-image-et {
  float: left;
  margin: 3px 10px 5px 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-image img,
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-image-et img {
  border: 1px #cdcdcd solid;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-title-field-et h3,
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-external-url-1 h3 {
  font-size: 100%;
  font-weight: bold;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-title-field-et h3 a,
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-external-url-1 h3 a {
  color: #347c98;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-label {
  float: left;
  margin-right: 5px;
  font-weight: bold;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-date div {
  background: none;
  color: #666666;
  font-weight: normal;
  padding: 0;
  font-size: 90%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-row .views-field-field-reps-core-abstract {
  margin: 5px 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body ul.pager {
  margin: 0;
  padding: 0;
  background: url(../images/gradiant_pager.gif) repeat-x bottom;
  border: 1px solid #cde;
  padding: 2px;
  font-size: 75%;
  font-weight: bold;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body ul.pager li {
  margin: 1px;
  padding: 1px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body ul.pager li a {
  border-radius: 0;
  padding: 2px 7px;
  color: #9BBCDD;
  border: 1px solid #cde;
  background: #fff;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body ul.pager li.pager-current {
  padding: 2px 7px;
  background: #6EB0F4;
  border: 1px solid #69c;
  color: #fff;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content {
  font-size: 89%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content img:first-child {
  float: left;
  margin: 10px 10px 10px 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-label {
  width: auto;
  color: #666666;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .content-abstract {
  border-bottom: 1px dotted #c5c3c3;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .content-abstract .field-name-field-reps-core-abstract {
  font-weight: bold;
  color: #666666;
  padding-top: 5px;
  font-size: 97%;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary {
  border-bottom: none;
  padding: 5px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary h2 {
  color: #b60522;
  font-size: 150%;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  margin-top: 10px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary h3 {
  font-size: 110%;
  padding: 4px 0;
  margin: 4px 0;
  font-weight: bold;
  color: #666666;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary a[href$=pdf] {
  background: url(../images/icon_pdf.gif) no-repeat right;
  padding-right: 20px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary .inside_table {
  border: 2px solid #B60522;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary .inside_table tbody {
  border: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary .inside_table tbody td {
  padding: 8px 5px 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary .inside_table tbody td a:visited strong {
  color: #551A8B;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary .inside_table tbody td a strong {
  color: #0065a2;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary img {
  float: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary ul,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary li {
  margin: 5px 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary b,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary strong {
  color: #333;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber {
  border: none;
  width: 100%;
  clear: both;
  margin: 10px 0 0 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber dd {
  z-index: 0;
  position: relative;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber dd.tab {
  float: left;
  display: block !important;
  width: auto;
  cursor: pointer;
  top: 0px;
  font-weight: bold;
  border: 1px solid #cde;
  margin-right: 3px;
  background: #f3f6f9;
  color: #777777;
  font-size: 110%;
  padding: 5px 10px;
  max-height: 30px;
  z-index: 10;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber dd.tab:hover {
  text-decoration: underline;
  background: #69c;
  color: #FFF;
  border-color: #369;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber dd.tab.active {
  z-index: 10;
  color: #b60522;
  border: 1px #cccccc solid;
  background: #FFF;
  border-bottom: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber dd.panel {
  position: absolute;
  top: 29px;
  z-index: 0;
  display: none;
  border-radius: 0;
  border: 1px #cccccc solid;
  padding-top: 30px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-type-text-with-summary dl.ckeditor-tabber dd.panel.active {
  z-index: 5;
  display: block !important;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file {
  background: #e7f9fe;
  margin: 10px 0 20px;
  box-shadow: 0px 2px 2px #9aabb1;
  border: 1px #f8f8f8 solid;
  padding: 10px 15px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-label,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-label,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-label,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-label {
  color: #4e6575;
  margin-bottom: 3px;
  text-transform: uppercase;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-item {
  display: list-item;
  list-style-position: inside;
  padding-left: 7px;
  width: auto;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-item .file,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-item .file,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-item .file,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-item .file {
  display: inline-block;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-item .file img,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-item .file img,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-item .file img,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-item .file img {
  float: right;
  vertical-align: baseline;
  margin: 0;
  margin-left: 5px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-title .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-title .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-title .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-title .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-body .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-body .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-body .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-body .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-link .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-link .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-link .field-item,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-link .field-item {
  display: block;
  padding-left: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-title,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-title,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-title,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-title {
  color: #4e6575;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: bold;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-link,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-link,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-link,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-link {
  text-align: right;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-link a,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-link a,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-link a,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-link a {
  text-decoration: underline;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .more-info-box .field-name-field-reps-core-more-info-link a:hover,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-name-field-reps-core-more-info-link a:hover,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-links .field-name-field-reps-core-more-info-link a:hover,
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-file .field-name-field-reps-core-more-info-link a:hover {
  text-decoration: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-reps-core-related-video .field-item {
  list-style: none;
  padding-left: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .reps-img-right {
  float: right;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content .field-name-field-tags {
  display: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-full .content ul.links.inline {
  display: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .views-field-field-reps-news-category {
  color: #999;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-page .content img:first-child {
  float: right;
  margin: 10px 0 10px 10px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .node-page .content .field-type-text-with-summary img {
  float: none;
  margin: 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-videos .view-content {
  margin: 0 -15px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-videos .view-content .views-row {
  width: 33%;
  float: left;
  padding: 0 15px;
  margin-top: 10px;
  border: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-videos .view-content .views-row img {
  max-width: 100%;
  margin-bottom: 4px;
  height: auto;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-videos .view-content .views-row .views-field-title-field-et {
  font-size: 120%;
  font-weight: bold;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-videos .view-content .views-row .views-field-title-field-et a {
  color: #347c98;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-publications .views-field-field-reps-core-image {
  max-width: 150px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body .view-reps-publications .views-field-field-reps-core-date {
  margin: 10px 0;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body #site-map h2 {
  display: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body #site-map ul {
  margin: 0;
  padding-left: 25px;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body #site-map ul li {
  list-style-image: none;
  list-style-type: none;
}
body.reps #mainContainer #layout-body #block-system-main .panel-body #site-map ul li a {
  font-size: 90%;
}
body.reps #mainContainer #layout-body #block-views-reps-contact-points-block h3 {
  color: #b60522 !important;
  font-size: 150%;
}
body.reps #mainContainer #layout-body #block-views-reps-contact-points-block .views-field-title {
  padding: 5px 0 3px;
}
body.reps #mainContainer #layout-body #block-views-reps-contact-points-block .views-field-title span {
  font-weight: bold;
  font-size: 90%;
}
body.reps #mainContainer #layout-body #block-views-reps-contact-points-block .field-content {
  padding: 5px 0 10px;
}
body.reps #mainContainer #layout-body #block-views-reps-contact-points-block .field-content p {
  font-size: 85%;
  margin-bottom: 2px;
  color: #333333;
}
body.reps #mainContainer #layout-body #block-views-reps-contact-points-block .field-content p a {
  color: #347c98;
}
body.reps #mainContainer #sidebar-right {
  padding-left: 0;
  background: #FFF;
}
body.reps #mainContainer #sidebar-right .block {
  border-radius: 0;
  border: none;
  box-shadow: none;
}
body.reps #mainContainer #sidebar-right .block .field-name-title-field,
body.reps #mainContainer #sidebar-right .block .panel-heading {
  border-radius: none;
  background: none;
  color: #268BC1;
  font-weight: bold;
  font-size: 120%;
  padding: 0;
  border: none;
}
body.reps #mainContainer #sidebar-right .block-nexteuropa-europa-search {
  margin-bottom: 0;
}
body.reps #mainContainer #sidebar-right .block-nexteuropa-europa-search .panel-body {
  padding: 7px 15px;
  background: #b60522;
}
body.reps #mainContainer #sidebar-right .block-nexteuropa-europa-search .panel-body form {
  margin-bottom: 1px;
}
body.reps #mainContainer #sidebar-right .block-nexteuropa-europa-search .panel-body form .form-type-textfield {
  margin: 0;
}
body.reps #mainContainer #sidebar-right .block-nexteuropa-europa-search .panel-body form .form-type-textfield input {
  padding: 3px 18px 4px 4px;
  border: 1px #626262 solid;
  font-size: 80%;
  height: 23px;
  width: 80%;
  float: left;
  margin-top: 1px;
}
body.reps #mainContainer #sidebar-right .block-nexteuropa-europa-search .panel-body form .btn-search {
  border-radius: 0;
  border: none;
  color: transparent !important;
  width: 25px;
  height: 23px;
  background: url(../images/btn-search.jpg) no-repeat;
}
body.reps #mainContainer #sidebar-right #block-social-bookmark-social-bookmark {
  box-shadow: 0px 2px 2px #d4d4d4;
  overflow: hidden;
  position: relative;
  min-height: 10px;
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 25px;
}
body.reps #mainContainer #sidebar-right #block-social-bookmark-social-bookmark .content {
  float: right;
}
body.reps #mainContainer #sidebar-right #block-social-media-links-social-media-links {
  background: #eeeeee;
  padding: 10px;
}
body.reps #mainContainer #sidebar-right #block-social-media-links-social-media-links .panel-body {
  padding: 0;
  margin-top: 10px;
}
body.reps #mainContainer #sidebar-right #block-social-media-links-social-media-links .panel-body li {
  width: 50%;
  margin: 5px 0;
  float: left;
  font-size: 75%;
  font-weight: bold;
}
body.reps #mainContainer #sidebar-right #block-social-media-links-social-media-links .panel-body li a {
  color: #666666;
}
body.reps #mainContainer #sidebar-right #block-social-media-links-social-media-links .panel-body li img {
  height: 22px;
  vertical-align: text-bottom;
}
body.reps #mainContainer #sidebar-right #block-multisite-twitterblock-fpfis-twitter {
  background: #eeeeee;
  padding: 10px;
}
body.reps #mainContainer #sidebar-right #block-multisite-twitterblock-fpfis-twitter .panel-body {
  padding: 0;
  font-size: 90%;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form {
  border: 1px #268BC1 solid;
  padding: 10px;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body {
  padding: 0;
  font-size: 80%;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body .form-item {
  margin: 0 0 5px;
  float: left;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body .form-item label {
  font-weight: 400;
  margin-bottom: 0;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body .form-item .form-radios {
  margin-top: 5px;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body .form-item .form-radios .form-item:first-child {
  float: left;
  margin: 0 10px 0 0;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body .form-item .form-radios input {
  vertical-align: middle;
  margin-top: 2px;
  border: 0;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body .form-item input {
  border: 1px black solid;
  border-radius: 0;
  padding: 0;
  height: auto;
}
body.reps #mainContainer #sidebar-right #block-reps-core-reps-core-feedback-form .panel-body input[type=submit] {
  border-radius: 0;
  border: 1px solid #cce2ed;
  float: right;
  background: #FFF;
  padding: 1px 6px;
  font-size: 120%;
  color: #333;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row {
  border: 1px #268BC1 solid;
  padding: 10px;
  margin-bottom: 20px;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row h3,
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-title-field {
  font-size: 110%;
  margin-top: 5px;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row h3 a div,
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-title-field a div,
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row h3 a:visited div,
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-title-field a:visited div {
  color: #268BC1;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-field-reps-core-more-info-link {
  font-size: 90%;
  text-align: right;
  padding-left: 10px;
  width: 100% !important;
  background-position: 96% !important;
  font-weight: bold;
  background: url(../images/btn-read-more.png) #687c86 no-repeat 175px;
  margin: 10px 0 0;
  padding: 0 35px 0;
  float: right;
  width: 200px;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-field-reps-core-more-info-link a {
  margin-top: 0;
  padding: 5px 0;
  color: #FFF;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-field-reps-core-more-info-link a {
  padding: 5px 0;
  display: block;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row img {
  max-width: 213px;
  width: 100%;
  height: auto;
}
body.reps #mainContainer #sidebar-right .view-reps-bean-blocks .views-row .field-name-field-caption {
  display: none;
}
body.reps #mainContainer a.btn-back-top {
  z-index: 50;
}
body.reps #mainContainer #layout-footer {
  border-top: none;
  margin: 0;
  font-size: 90%;
  background: none;
}
body.reps #mainContainer #layout-footer .container {
  padding: 0;
}
body.reps #mainContainer #layout-footer .container .block-views {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body {
  margin-bottom: 45px;
  padding: 0;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider {
  margin-bottom: 0;
  background: #eeeeee;
  padding: 20px 35px;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider .slides li {
  width: 180px;
  margin: 0 2px;
  text-align: center;
  height: 85px;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider .slides li img {
  height: 83px;
  width: 150px;
  border: 1px #cccccc solid;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider ul.flex-direction-nav li {
  width: auto !important;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider ul.flex-direction-nav li a {
  width: 25px;
  height: 48px;
  overflow: hidden;
  display: block;
  opacity: 1;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider ul.flex-direction-nav li a.flex-next {
  background: url(../images/next-horizontal.png) no-repeat;
  right: 0;
}
body.reps #mainContainer #layout-footer .container .block-views .panel-body .flexslider ul.flex-direction-nav li a.flex-prev {
  background: url(../images/prev-horizontal.png) no-repeat;
  left: 0;
}
/* Popup MapEditor. */
.leaflet-popup-content ul.links.inline {
  display: none;
}
.leaflet-popup-content .field-name-title-field {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 10px;
}
.leaflet-popup-content .field-name-body {
  border-bottom: none;
}
#edit-field-reps-cp-type-tid-wrapper {
  margin-right: 5px;
}
body.not-front #layout-body {
  margin-top: 50px !important;
}
/* Medium + Large */
@media all and (min-width: 767px) {
  #sidebar-right {
    display: block !important;
    width: 25%;
  }
  #content-wrapper {
    width: 75% !important;
  }
}
/* Medium */
@media all and (max-width: 991px) and (min-width: 768px) {
  .mobile-user-bar .navbar-header {
    display: none;
  }
}
/* Small and x-small */
@media all and (max-width: 768px) {
  .mobile-user-bar {
    z-index: 5000;
  }
  #path {
    display: block !important;
    padding: 5px 0;
    height: 31px;
  }
  .home-button.hidden-sm {
    display: none !important;
  }
  .navbar {
    min-height: 44px;
  }
  #main-menu {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    font-size: 100% !important;
  }
  #main-menu ul {
    margin: 0;
    padding: 0;
  }
  #main-menu ul li {
    border-bottom: 1px solid #CCE2ED;
  }
  #main-menu ul li a {
    color: #003366 !important;
    background: none !important;
    padding: 7px 10px !important;
  }
  #main-menu ul li a.active {
    font-weight: bold;
  }
  #main-menu ul li a:hover,
  #main-menu ul li a:focus {
    background: #0065A2 !important;
    color: #FFFFFF !important;
  }
  #main-menu .visible-sm,
  #main-menu .visible-xs {
    margin: 0;
  }
  #main-menu .visible-sm p.menu-browse,
  #main-menu .visible-xs p.menu-browse {
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 95%;
    border: 1px solid #83b5c1;
    display: block !important;
    border-right: none;
  }
  #main-menu .visible-sm ul li,
  #main-menu .visible-xs ul li {
    display: none;
  }
  #main-menu .visible-sm ul li.active-trail,
  #main-menu .visible-xs ul li.active-trail {
    display: block;
    background: #FFFFFF;
    margin: 0 !important;
  }
  #main-menu .visible-sm ul li.active-trail a,
  #main-menu .visible-xs ul li.active-trail a {
    padding: 0 0 0 30px !important;
    height: 35px;
    line-height: 2.25;
    background: #FFF;
  }
  #main-menu .visible-sm ul li.active-trail a span,
  #main-menu .visible-xs ul li.active-trail a span {
    width: 48px;
    height: 35px;
    background: #FFF !important;
    float: right;
    border: 1px solid #cde;
    padding-top: 7px;
    border-right: none;
  }
  #main-menu .visible-sm ul li.active-trail a span .caret,
  #main-menu .visible-xs ul li.active-trail a span .caret {
    display: block !important;
    margin: 0 auto;
    padding: 0;
    border-top: 20px solid #69c;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
  #main-menu .visible-sm ul li.active-trail ul.dropdown-menu,
  #main-menu .visible-xs ul li.active-trail ul.dropdown-menu {
    background: #FFF !important;
  }
  #main-menu .visible-sm ul li.active-trail ul.dropdown-menu li.active-trail,
  #main-menu .visible-xs ul li.active-trail ul.dropdown-menu li.active-trail {
    padding: 5px 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid #CCE2ED !important;
    width: 100% !important;
  }
  #main-menu .visible-sm ul li.active-trail ul.dropdown-menu li.active-trail a,
  #main-menu .visible-xs ul li.active-trail ul.dropdown-menu li.active-trail a {
    border-left: none !important;
    width: 100% !important;
  }
  #main-menu .visible-sm ul li.active-trail.open .caret,
  #main-menu .visible-xs ul li.active-trail.open .caret {
    border-top: none;
    border-bottom: 20px solid #69c;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
  #main-menu .visible-sm ul li.active-trail.open ul,
  #main-menu .visible-xs ul li.active-trail.open ul {
    background: #FFFFFF !important;
  }
  #main-menu .visible-sm ul li.active-trail.open ul li,
  #main-menu .visible-xs ul li.active-trail.open ul li {
    display: block !important;
    clear: both;
    background: #FFFFFF !important;
    margin: 0 !important;
    width: 100% !important;
  }
  #main-menu .visible-sm ul li.active-trail.open ul li a,
  #main-menu .visible-xs ul li.active-trail.open ul li a {
    padding: 5px 10px !important;
    font-size: 105%;
    color: #036 !important;
  }
  #main-menu .visible-sm ul li.active-trail.open ul li a:hover,
  #main-menu .visible-xs ul li.active-trail.open ul li a:hover {
    background: #036 !important;
    color: #FFFFFF !important;
  }
  #main-menu .visible-ex1 p.menu-browse {
    display: none !important;
  }
  #main-menu .visible-ex1 ul li {
    display: block;
    margin: 0 !important;
  }
  #main-menu .visible-ex1 ul li a.active-trail {
    cursor: default;
  }
  #main-menu .visible-ex1 ul li a.active-trail span {
    display: none;
  }
  #main-menu .visible-ex1 ul li ul {
    display: none !important;
  }
  #main-menu .visible-ex1 ul li ul li {
    display: none;
  }
  body.front #main-menu .visible-sm p.menu-browse,
  body.front #main-menu .visible-xs p.menu-browse {
    display: none !important;
  }
  #layout-body #content-wrapper.col-sm-8 {
    width: 66.66666666666667%;
    float: left;
  }
  #layout-body #content-wrapper.col-sm-8 #block-system-main .panel-body .view-filters .views-exposed-widgets .views-exposed-widget input[type=text] {
    margin-left: 0 !important;
  }
  #layout-body div.clearfix.hidden-sm {
    display: none !important;
  }
  #layout-body div#block-views-reps-bean-blocks-block-1 div.panel-body div.views-row div.views-field-field-reps-core-abstract-et {
    margin-left: 0 !important;
  }
  #layout-body #block-views-reps-publications-block .view-content .views-row img,
  #layout-body #block-views-reps-videos-block .view-content .views-row img {
    max-width: 100%;
  }
  #layout-body .view-reps-events .views-field-field-reps-core-image {
    max-width: 175px;
  }
  #layout-body .view-reps-events .views-field-field-reps-core-image img {
    width: 100% !important;
    height: auto !important;
  }
  #layout-body #sidebar-right.col-sm-4 {
    width: 33.333333333333336%;
    float: right;
    padding-left: 15px !important;
  }
}
/* xs small only */
@media all and (max-width: 480px) {
  #path {
    display: none !important;
  }
  .home-button.visible-xs {
    display: block !important;
  }
  #main-menu {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    font-size: 100% !important;
  }
  #main-menu ul {
    margin: 0;
    padding: 0;
  }
  #main-menu ul li {
    border-bottom: 1px solid #CCE2ED;
  }
  #main-menu ul li a {
    color: #003366 !important;
    background: none !important;
    padding: 7px 10px !important;
  }
  #main-menu ul li a.active {
    font-weight: bold;
  }
  #main-menu ul li a:hover,
  #main-menu ul li a:focus {
    background: #0065A2 !important;
    color: #FFFFFF !important;
  }
  #main-menu .visible-ex1 ul li.first {
    display: none;
  }
  #content-wrapper.col-xs-12 {
    width: 100% !important;
  }
  #content-wrapper.col-xs-12 .view-reps-events .views-field-field-reps-core-image {
    max-width: 125px;
  }
  #sidebar-right.col-xs-12 {
    width: 100% !important;
    clear: both;
  }
}
